.button {
	border: 1px solid var(--color-green);
	background-color: var(--color-background-main);
	padding: 20px 59px;
	height: var(--button-height);

	&:disabled {
		border: 1px solid var(--color-background-alt);
		color: var(--color-background-alt);
		cursor: not-allowed;
	}

	&:disabled:hover {
		background-color: transparent;
		color: var(--color-background-alt);
	}
}
