.hero {
	background: url('../images/hero/hero-background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.flowers {
	padding-block: 60px;

	@include mobile {
		padding-block: 30px;
	}
}

.artefacts {
	padding-bottom: 60px;
}
